body {
  font-family: "Noto Serif";
  text-align: center;
  padding: 2rem;
  background: #f0f8ff;
}

.container {
  font-family: "Noto Serif";
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dragon-stage img {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

.exp-bar-container {
  font-family: "Noto Serif";
  width: 100%;
  height: 30px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin: 1rem 0;
}

.exp-bar {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.titulo-contribuciones {
  text-align: center;
}

.contenedor-tabla {
  display: flex;
  justify-content: center;
}

#tabla-estudiantes {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  background-color: white; 
}

#tabla-estudiantes th {
  background-color: #dee0e3;
  border: 1px solid #ccc;
  padding: 8px;
}

#tabla-estudiantes thead tr {
  background-color: #f2f2f2;
}

.h1{
  font-family: "Oswald";
}
